# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables / secrets
.env

# VS Code settings
.vscode/

# OS junk files
.DS_Store
Thumbs.db

# Build / packaging files
build/
dist/
*.egg-info/